/* src/components/FileTree.module.css */

.treeContent ul {
  list-style: none;
  padding-left: 1.2rem;
  margin: 0;
  border-left: 1px dashed #333;
}

/* The top-level ul should not have a border or padding */
.treeContent > ul {
  padding-left: 0;
  border-left: none;
}

.treeContent li {
  position: relative;
  padding-left: 0.5rem;
  margin-top: 0.25rem;
}

/* The connector line for nested items */
.treeContent li::before {
  content: '';
  position: absolute;
  left: -1.2rem;
  top: 0.7rem;
  width: 1rem;
  height: 1px;
  background-color: #333;
}

/* Hide connector for top-level items */
.treeContent > ul > li::before {
  display: none;
}
